.all_users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
}

.all_users h1 {
    margin: .5em;
}

.all_users img {
    width: 14em;
}

.all_users div {
    display: flex;
    margin: .5em;
}

.all_users div p,
.all_users div button {
    margin: .3em;
}

.all_users div button {
    border: 1px solid black;
    border-radius: .3em;
    padding: .2em;
    transition: .3s;
    cursor: pointer;
}

.all_users div button:hover {
    color: white;
    background-color: #ED1B22;
}