.update_item {
    display: flex;
    min-height: 83vh;
    text-align: center;
}

.update_item form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 50vh;
    margin: auto;
    justify-content: center;
    padding: 1em;
    background-color: rgb(236, 235, 235);
    border-radius: .4em;
}

.update_item h1 {
    margin-bottom: .8em;
}

.update_item img {
    width: 14em;
}

.update_item input {
    width: 65vw;
    margin: 0em auto .5em;
    border: 1px solid black;
    padding: .5em;
    border-radius: .3em;
    transition: .3s;
}

.update_item input:hover:last-child {
    color: white;
    background-color: #ED1B22;
}