.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
}

.user h1 {
    margin: .5em;
}

.user a {
    color: black;
    margin: .5em;
}

.user button {
    border: 1px solid black;
    border-radius: .3em;
    padding: .2em;
    transition: .3s;
    margin-top: .5em;
    cursor: pointer;
}

.user button:hover {
    color: white;
    background-color: #ED1B22;
}

@media screen and (min-width: 800px) {
    .user a,
    .user button {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1200px) {
    .user a,
    .user button {
        font-size: 2em;
    }
}