.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.39);
    padding: .5em;
    border-radius: .3em;
    margin: .5em;
    border: .2em solid #ed1b224d;
    transition: .2s linear;
}

.box:hover {
    border: .2em solid #ED1B22;
}

.box_title {
    margin-bottom: .2em;
}

.box_value {
    margin-top: .5em;
    color: #40ad6c;
}

.box_desc {
    margin: 0 .2em .7em .2em;
}

.box_link {
    color: black;
    margin-bottom: .3em;
}

.box_btn {
    border: 1px solid black;
    border-radius: .3em;
    padding: .2em;
    transition: .3s;
    cursor: pointer;
    margin-bottom: .3em;
}

.box_btn:hover {
    color: white;
    background-color: #ED1B22;
}

@media screen and (min-width: 800px) {
    .box_link {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1200px) {
    .box_link {
        font-size: 2em;
    }
}
