.cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
}

.cart h1 {
    margin-bottom: .5em;
}

.cart img {
    width: 14em;
}

.cart p {
    margin-bottom: .5em;
}

.cart_items div {
    width: 55vw;
    margin: .8em;
}

.cart_value {
    color: #40ad6c;
}

.cart_request button {
    border: 1px solid black;
    border-radius: .3em;
    padding: .2em;
    transition: .3s;
    cursor: pointer;
    margin-bottom: 1em;
}

.cart_request button:hover {
    color: white;
    background-color: #ED1B22;
}

.cart_request textarea {
    display: block;
    margin: 1.2em auto;
    border: 1px solid black;
    border-radius: .3em;
    text-indent: .2em;
}