.request_by_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 83vh;
}

.request_by_user h1 {
    margin: .5em;
}

.request_by_user img {
    width: 14em;
}

.request_by_user div {
    text-align: center;
    margin: .4em;
}

.request_by_user div p {
    margin: .3em;
}

.request_by_user div p a {
    color: black;
}

.request_by_user div p button {
    border: 1px solid black;
    border-radius: .3em;
    padding: .2em;
    transition: .3s;
    margin-left: .2em;
    cursor: pointer;
    font-size: 1em;
}

.request_by_user div p button:hover {
    color: white;
    background-color: #ED1B22;
}