.request_by_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 83vh;
}

.request_by_user h1 {
    margin: .5em;
}

.request_by_user img {
    width: 14em;
}

.request_by_user div {
    margin-bottom: 1.5em;
}

.request_by_user div p:last-of-type {
    margin-bottom: .7em;
}

.request_by_user div a {
    margin-bottom: .7em;
}
