.all_requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 83vh;
}

.all_requests h1 {
    margin: .5em;
}

.all_requests img {
    width: 14em;
}

.all_requests div {
    text-align: center;
    margin-bottom: .8em;
}

.all_requests div p {
    margin: .3em;
}

.all_requests div p a {
    color: black;
}

.all_requests div p button {
    border: 1px solid black;
    border-radius: .3em;
    padding: .2em;
    transition: .3s;
    margin: 0 .2em;
}

.all_requests div p button:hover {
    color: white;
    background-color: #ED1B22;
}