.all_requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 83vh;
}

.all_requests h1 {
    margin: .5em;
}

.all_requests img {
    width: 14em;
}

.all_requests div a {
    margin-bottom: .7em;
}
