.request_by_slug {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
}

.request_by_slug h1 {
    margin: .5em;
}

.request_by_slug div {
    text-align: left;
}

.request_by_slug_value {
    margin: .8em 0;
    color: #40ad6c;
}