.request_by_slug {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
}

.request_by_slug img {
    width: 14em;
}

.request_by_slug div p:last-child {
    margin-bottom: .1em;
}