.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED1B22;
    padding: .5em;
}

.search {
    margin: 0 3.1em 0 1.5em;
}

.navbar div img {
    vertical-align: middle;
}

.menu {
    margin-left: 1.5em;
}

.menu a:first-child {
    margin-left: .8em;
    color: black;
}

.menu a:last-child {
    color: black;
    margin-left: 1.5em;
}