.home {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2em;
}

.home div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(236, 235, 235);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.39);
    padding: .5em;
    margin: .3em .2em 0;
    border-radius: .3em;
}

.name {
    margin-bottom: .5em;
}

.value {
    color: #40ad6c;
}

.description {
    margin-bottom: .8em;
    max-height: 2em;
    overflow: hidden;
}

.home div button {
    border: 1px solid black;
    border-radius: .3em;
    padding: .2em;
    transition: .3s;
}

.home div button:hover {
    color: white;
    background-color: #ED1B22;
}

