.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
}

.home div {
    width: 80vw;
    text-align: center;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.39);
    padding: .5em;
    border-radius: .3em;
    margin: .5em;
}

.home_search {
    position: absolute;
    top: 7%;
    background-color: #ED1B22;
    width: 15em;
}

.home_search input {
    width: 16em;
    margin: auto;
    border: 1px solid black;
    padding: .5em;
    border-radius: .3em;
}

.home_welcome {
    background-color: rgb(248, 245, 245);
}

.home_welcome p {
    margin: .3em;
}

.home a {
    color: black;
}

.home img {
    position: absolute;
    width: 14em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home_items {
    background-color: rgb(236, 235, 235);
}

.home_name {
    margin-bottom: .5em;
}

.home_value {
    color: #40ad6c;
}

.home_description {
    margin-bottom: .8em;
    max-height: 2.5em;
    overflow: hidden;
}

.home_items button {
    border: 1px solid black;
    border-radius: .3em;
    padding: .2em;
    transition: .3s;
    cursor: pointer;
}

.home_items button:hover {
    color: white;
    background-color: #ED1B22;
}

@media screen and (min-width: 800px) {
    .home {
        grid-auto-rows: 12em;
    }

    .home_search {
        width: 23em;
        height: 4em;
    }

    .home_search input {
        width: 24em;
        height: 3.5em;
    }

    .home_search input::placeholder {
        font-size: 1.3em;
    }

    .home_welcome {
        padding: 5em;
    }

    .home_welcome a {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1200px) {
    .home {
        grid-auto-rows: 16em;
    }

    .home_search input {
        font-size: .9em;
    }

    .home_welcome {
        padding: 5.4em;
    }

    .home_welcome a {
        font-size: 1.7em;
    }
}
