.home {
    display: grid;
    grid-auto-rows: 10em;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2em;
    min-height: 83vh;
}

.home_search {
    display: block;
    position: absolute;
    width: 15em;
    left: 11vw;
    transition: .3s;
}

.home_search input {
    width: 16em;
    margin: 0em auto .5em;
    border: 1px solid black;
    padding: .5em;
    border-radius: .3em;
}

.home div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(236, 235, 235);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.39);
    padding: .5em;
    margin: .3em .2em 0;
    border-radius: .3em;
}

.home_name {
    margin-bottom: .5em;
}

.home_value {
    color: #40ad6c;
}

.home_description {
    margin-bottom: .8em;
    max-height: 2em;
    overflow: hidden;
}

.home div button {
    border: 1px solid black;
    border-radius: .3em;
    padding: .2em;
    transition: .3s;
}

.home div button:hover {
    color: white;
    background-color: #ED1B22;
}

