.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
}

.admin h1 {
    margin: .5em;
}

.admin a {
    margin: .3em;
    color: black;
}