.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
}

.admin h1 {
    margin: .5em;
}

.admin a {
    margin: .3em;
    color: black;
}

@media screen and (min-width: 800px) {
    .admin a {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1200px) {
    .admin a {
        font-size: 2em;
    }
}