.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
}

.items h1 {
    margin: .5em;
}

.items img {
    width: 14em;
}

.items div {
    margin: 1em;
}

.items div a {
    margin: .5em 0 .8em 0;
}
